body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #FFF;
}

header {
    display: grid;
    border: 1px solid #000;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
}

.logo {
    grid-column: 2;
}

.member-links {
    justify-self: end;
}

nav ul {
    display: none;
}

.lists-container {
    display: flex;
    flex-flow: column nowrap;
}

.list-heading {
    background: red;
    padding: .15em;
    margin: 1em .15em 0;
    border-radius: 15px 15px 0 0;
}

.product-list {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    background: #FFF;
    color: #000;
    border-radius: 0 0 15px 15px;
    padding: .5em;
    margin: 0 .25em .25em;
}

.product {
    display: grid;
    justify-content: start;
    align-items: center;
    height: 9em;
    grid-template-areas: "img pi";
}

.product-img {
    grid-area: img;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.product-info {
    grid-area: pi;
    display: flex;
    flex-flow: column wrap;
}

.product-name {
    grid-area: pn;
}

.product-desc {
    grid-area: pd;
    width: auto;
    height: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-stats {
    display: flex;
    flex-flow: row wrap;
    grid-area: ps;
}

@media only screen and (min-width: 500px) {
    .lists-container {
        display: flex;
        flex-flow: row nowrap;
    }    
}