@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");

:root {
    --heading-font: "Archivo Narrow", "Verdana", sans-serif;
    --default-font: "Arial", "Helvetica", sans-serif;
    --main-color: rgb(16, 96, 211);
    --secondary-color: rgb(101, 147, 219);
    --tertiary-color: rgb(124, 164, 220);
    --dark-blue: rgb(15, 65, 134);
    --yellow: rgb(255, 255, 0);
    --white: rgb(255, 255, 255);
    --grey: rgb(229, 226, 232);
    --black: rgb(0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--white);
    font-family: var(--default-font);
}

header {
    background: var(--main-color);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    box-shadow: 0 .25em 1em #000;
}

.logo {
    grid-column: 2;
}

.hamburger div {
    width: 1em;
    height: .10rem;
    position: relative;
    background: var(--white);
    left: .5rem;
    margin: .15rem;
    transition: 0.4s;
    cursor: pointer;
}

.open div:nth-child(1)  {
    transform: rotate(45deg) translate(5px, 2px);
}

.open div:nth-child(2)  {
    opacity: 0;
}

.open div:nth-child(3)  {
    transform: rotate(-45deg) translate(3px, -1px);
}

.navigation {
    background: pink;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover {
    color: var(--yellow);
}

nav #main-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    background: red;
}

.list-container {
    font-family: var(--default-font);
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    margin: .75em;
    box-shadow: .25em .50em 1em var(--black);
}

.container-heading {
    font-family: var(--heading-font);
    background: var(--secondary-color);
    color: var(--white);
    padding: .35em;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.list {
    list-style: none;
    padding: .5em;
}

.list li a {
    text-decoration: none;
}

.list li a:hover {
    text-decoration: underline;
}

.list .product, .list .forum-topic, footer .list li {
    border-bottom: 1px solid var(--grey);
    padding: 1em 0 1em 0;
}

.list :last-child {
    border-bottom: none;
}

.list .product .product-info {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

.product-img {
    grid-area: img;
    width: 10em;
    height: auto;
    margin-bottom: 1em;
}

.product-brand {
    grid-area: pb;
}

.product-name {
    grid-area: pn;
}

.product-stats {
    grid-area: ps;
}

.inline-container {
    display: flex;
}

.list .forum-topic {
    display: flex;
    align-items: center;
}

.list .forum-topic img {
    height: 8em;
    width: auto;
}

.img-separator {
    height: 8.5em;
    width: .1em;
    background: var(--grey);
    margin: 0 .5em;
}

footer .container {
    background: var(--secondary-color);
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    color: var(--white);
}

footer .list-container .container-heading {
    color: var(--secondary-color);
    background: var(--white);
}

footer .list-container {
    background: var(--tertiary-color);
    color: var(--black);
}

footer a {
    color: var(--black);
}

footer a:hover {
    color: var(--yellow);
}

@media only screen and (min-width: 712px) {

    header {
        display: flex;
        justify-content: flex-start;
    }

    .navigation {
        align-items: center;
    }

    nav .hamburger {
        display: none;
    }

    nav #main-menu {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        padding: 0;
    }

    .nav-link {
        padding: 1em;
    }

    .member-links {
        background: green;
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .list-container {
        flex: 1;
        align-items: stretch;
    }
}

@media only screen and (min-width: 768px) {
    .list .product .product-info {
        display: grid;
        justify-content: start;;
        grid-template-areas: "img pb"
                             "img pn"
                             "img ps";    
    }

    .product-img {
        width: 5em;
        margin-left: 1em;
        margin-bottom: 0;
    }
}